@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 20% 95%;
    --foreground: 240 10% 3.9%;
    --card: 48 20% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 48 20% 90%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 48 94% 56%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 48 10% 85%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 48 10% 85%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 18 75% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 10% 80%;
    --input: 48 10% 80%;
    --ring: 48 94% 56%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 15% 10%;
    --foreground: 0 0% 98%;
    --card: 220 15% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 220 15% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 48 94% 56%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 220 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 15% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 18 85% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 25%;
    --input: 220 15% 25%;
    --ring: 48 94% 56%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-tap-highlight-color: transparent;
  }
}
